<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ ctx.app.config.name }} - Authorization</title>

  <!-- Styles -->
  <link href="/public/css/app.css" rel="stylesheet">

  <style>
    .passport-authorize .container {
      margin-top: 30px;
    }

    .passport-authorize .scopes {
      margin-top: 20px;
    }

    .passport-authorize .buttons {
      margin-top: 25px;
      text-align: center;
    }

    .passport-authorize .btn {
      width: 125px;
    }

    .passport-authorize .btn-approve {
      margin-right: 15px;
    }

    .passport-authorize form {
      display: inline;
    }
  </style>
</head>

<body class="passport-authorize">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card card-default">
          <div class="card-header">
            Authorization Request
          </div>
          <div class="card-body">
            <!-- Introduction -->
            <p><strong>{{ client.name }}</strong> is requesting permission to access your account.</p>

            <!-- Scope List -->
            {% if scopes.length %}
            <div class="scopes">
              <p><strong>This application will be able to:</strong></p>

              <ul>
                {% for scope in scopes %}
                <li>{{ scope.description }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            <div class="buttons">
              <!-- Authorize Button -->
              <form method="get" action="/oauth/authorize/decision">
                <input name="response_type" type="hidden" value="{{ query.response_type }}" />
                <input name="client_id" type="hidden" value="{{ query.client_id }}" />
                <input name="redirect_uri" type="hidden" value="{{ query.redirect_uri }}" />
                <input name="scope" type="hidden" value="{{ query.scope }}" />
                <input name="state" type="hidden" value="{{ query.state }}" />
                <button type="submit" class="btn btn-success btn-approve" name="allowed" value="true">Authorize</button>
              </form>

              <!-- Cancel Button -->
              <form method="get" action="/oauth/authorize/decision">
                <input name="response_type" type="hidden" value="{{ query.response_type }}" />
                <input name="client_id" type="hidden" value="{{ query.client_id }}" />
                <input name="redirect_uri" type="hidden" value="{{ query.redirect_uri }}" />
                <input name="scope" type="hidden" value="{{ query.scope }}" />
                <input name="state" type="hidden" value="{{ query.state }}" />
                <button class="btn btn-danger" name="allowed" value="false">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
