<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i">
  <title>{{ ctx.app.config.name }}</title>
</head>

<body>
  <div id="root"></div>
  {{ helper.assets.getContext(__context__) | safe }}
  {% if ctx.app.config.env === 'local' -%}
  {{ helper.assets.getScript('umi.dll.js') | safe }}
  {%- endif %}
  {{ helper.assets.getScript('umi.js') | safe }}
</body>

</html>
